<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	
	<div class="container"  style="padding-top: 100px;">
	
		<div><a th:href="@{/product-list}" class="btn btn-primary">Back</a></div>
		
		<form th:action="@{/updatecategory}" th:object="${category}" method="post" class="form-group">
		
			<input class="form-control" type="hidden" th:field="*{id}" id="id" />
		
			<p><label>Name:</label>
			<input class="form-control" th:field="*{name}" id="name" style="width: 150px;" required/>
			
			</p>
		
			<p><input type="submit" class="btn btn-primary" value="submit"/></p>
		
		</form>
		
	</div>
	
</body>
</html>